body.otherColor{
  background-color:#dad2d8!important;
  
}
a.navbar-brand{
  color:white;
}
div.container{
  border-radius: 6px;
}
div.header{
  background-color: #143642!important;
}
div.border{
  background-color:#303C6C 
}
h2.about{
  color: #0F8B8D
}
@media screen and (max-width: 980px) {
  .mynameSpace{
    float: left;
  }
}

@media screen and (max-width:768px) {
  header{
    width: 100%;
    
  }
  .mynameSpace{
    float: left;
  }
  #outside{
    width: 100%;
  }
  
  
}

@media screen and (max-width:640px) {
 img{
   width: 100%!important;
 }
 img#mblRespons{
   width: 200% !important;
   margin-right: 55px!important;
 }
 .overlay{
   width:80%!important;
 }
 
  
}


