body.otherColor{
  background-color:#dad2d8!important;
  
}
a.navbar-brand{
  color:white;
}
div.container{
  border-radius: 6px;
}
div.header{
  background-color: #143642!important;
}
div.border{
  background-color:#303C6C 
}
h2.about{
  color: #0F8B8D
}
  